@font-face {
  font-family: "entrance";
  src: url(./fonts/digital-7-font/Digital7Mono-B1g5.ttf);
}

* {
  box-sizing: border-box;
  font-family: "Squada One", sans-serif;
}

body {
  height: 100vh;
  overflow: hidden;
  user-select: none;
  background: linear-gradient(
    55deg,
    #9b9999 0%,
    #787676 24%,
    #bcbaba 77%,
    #989696 101%,
    #b8b8b8 100%
  );
  --letter-background: linear-gradient(
    177deg,
    #bcbcbc 0%,
    #0e0e0e 25%,
    #f0f0f0 50%,
    #3a3a3a 75%,
    #e0e0e0 100%
  );
}

header {
  height: 10%;
}
header .row div {
  color: transparent;
  background: linear-gradient(
    5deg,
    #e3e1e1 0%,
    #414040 25%,
    #7e7c7c 50%,
    #2d2c2c 75%,
    #b3b0b0 100%
  );
  background-clip: text;
  font-size: 2.5rem;
}
main {
  height: 90%;
}
.row {
  padding: 0;
  margin: 0;
}
.safe-con {
  height: 35%;
}
.hints-one {
  height: 15%;
}
.hints-two {
  height: 50%;
}
.hint-con {
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}
.hints-two .hint-con {
  height: 20%;
}
.hint {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hints-two .hint {
  height: 50%;
}
.hint > div {
  outline: 1px solid #626669;
  outline-offset: -0.2rem;
  border-radius: 1rem;
}
.hint-text {
  text-align: center;
  color: transparent;
  background: linear-gradient(
    194deg,
    #e3e1e1 0%,
    #3f3f3f 25%,
    #4d4d4d 50%,
    #575757 75%,
    #929191 100%
  );
  background-clip: text;
  font-size: 1.5rem;
}
.entrance,
.draft {
  height: 65%;
}
.entrance > div,
.draft > div {
  height: 20%;
}
.entrance {
  padding: 1rem;
  border-radius: 2.5rem;
  background-color: #b5b5ff;
  scale: 0.8 1;
  background: linear-gradient(
    43deg,
    #bcbcbc 0%,
    #0e0e0e 5%,
    #f0f0f0 72%,
    #3a3a3a 97%,
    #e0e0e0 100%
  );
}
.entrance > div:not(.display) {
  margin-top: -1rem;
  position: relative;
  cursor: pointer;
}
.display {
  background-color: #151622;
  color: #ff8000;
  border-radius: 1rem;
  font-family: "entrance";
  font-size: 3rem;
  scale: 1 0.7;
}
.entrance-btn {
  width: 65%;
  height: 45%;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background-color: #72c2f3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #196286;
  font-weight: bold;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  background: linear-gradient(
    55deg,
    #bcbcbc 0%,
    #989898 24%,
    #f0f0f0 77%,
    #9a9999 101%,
    #e0e0e0 100%
  );
}

.delete::after {
  content: "\f55a";
  font-family: "Font Awesome 6 Free";
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  color: var(--color);
  border: none;
  z-index: -100;
}
.enter::after {
  content: "\f2f6";
  font-family: "Font Awesome 6 Free";
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  color: var(--color);
  border: none;
  z-index: -100;
}
.draft {
  background: url(./images/draft.png);
  background-size: 100% 100%;
  color: #2489b9;
  padding: 2rem;
  font-size: 2rem;
}
.draft > div {
  cursor: pointer;
}
.draft div:last-child {
  margin: auto;
}

.x-mark::before {
  content: "\58";
  font-family: "Font Awesome 6 Free";
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  color: #800101;
  border: none;
}
.modal-con {
  background-color: #000;
}

.lock img {
  width: 100%;
  height: 100%;
}
.lock-up img {
  height: 100%;
}
.lock-down {
  width: 100%;
  height: 40%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  animation: show-u 1s 6.5s linear forwards;
}
.lock-up {
  width: 100%;
  height: 100%;
  top: 20%;
  left: 50%;
  translate: -50% -50%;
}
.lock-con {
  width: 8%;
  height: 27%;
  translate: 0 -30%;
}
.lock {
  animation: rotate-lock 2s 1s ease-in-out forwards;
}
.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
  font-weight: bold;
  scale: 0 1;
  animation: show-letters 1s 4s ease-in-out forwards;
}
.letter img {
  width: 60%;
}
.start-btn {
  cursor: pointer;
}
.start-btn div {
  color: transparent;
  background: var(--letter-background);
  background-clip: text;
  font-size: 3rem;
  scale: 0 1;
  animation: show-letters 1s 7.5s ease-in-out forwards;
}
.instructions p,
.got-it-btn {
  color: transparent;
  background: linear-gradient(
    184deg,
    #e3e1e1 0%,
    #636262 25%,
    #a4a3a3 50%,
    #838080 75%,
    #b3b0b0 100%
  );
  background-clip: text;
  font-size: 2rem;
}
.instructions-con div {
  scale: 1 0;
  animation: show-instructions 1s 1s linear forwards;
}
.got-it-btn {
  border: 1px solid gray;
  border-radius: 1rem;
  cursor: pointer;
}

@keyframes rotate-lock {
  to {
    rotate: 180deg;
  }
}

@keyframes show-letters {
  to {
    scale: 1;
  }
}

@keyframes show-u {
  to {
    translate: -50% 1000%;
  }
}

@keyframes show-instructions {
  to {
    scale: 1;
  }
}
